* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 400px;
  background-image: url(1-7演習問題img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.header-text {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.main-item1 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.main-item2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.main-item3 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.main-item4 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}
