* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section1 {
  width: 960px;
  margin: 50px auto;
  padding-left: 20px;
  line-height: 40px;
  color: #6c6b6b;
}

.list:nth-child(even) {
  padding-left: 20px;
}

.list:nth-child(odd) {
  padding-left: 20px;
  background-color: #f7f7f7;
}

.section2 {
  width: 960px;
  margin: 0 50px auto auto;
  display: flex;
  flex-wrap: wrap;
}

.box:nth-child(1) {
  width: 30%;
  height: 200px;
  background-color: orange;
  margin-right: 5%;
}

.box:nth-child(2) {
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-right: 5%;
}

.box:nth-child(3) {
  width: 30%;
  height: 200px;
  background-color: yellow;
}

.box:nth-child(4) {
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin: 40px auto;
}

.box:nth-child(5) {
  width: 30%;
  height: 200px;
  background-color: orange;
  margin: 40px 5%;
}

.box:nth-child(6) {
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin: 40px auto;
}

.box:nth-child(7) {
  width: 30%;
  height: 200px;
  background-color: yellow;
}

.box:nth-child(8) {
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin: auto 5%;
}

.box:nth-child(9) {
  width: 30%;
  height: 200px;
  background-color: orange;
}
