* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  display: flex;
  margin: 50px auto;
}

.main-item {
  background-color: #eeeeee;
  width: 300px;
  margin-right: 30px;
}

.main-item:nth-child(3) {
  margin-right: 0;
}

.main-step {
  background-color: #ff9a4b;
  color: #eeeeee;
  display: inline-block;
}

.main-image1 {
  height: 150px;
  margin: 10px;
  background-image: url(1-9演習問題img/flow01.png);
  background-position: center;
  background-size: cover;
}

.main-image2 {
  height: 150px;
  margin: 10px;
  background-image: url(1-9演習問題img/flow02.png);
  background-position: center;
  background-size: cover;
}

.main-image3 {
  height: 150px;
  margin: 10px;
  background-image: url(1-9演習問題img/flow03.png);
  background-position: center;
  background-size: cover;
}

.main-title {
  margin-top: 15px;
}

.main-text {
  margin-top: 5px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}
